@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
  --dark: #18191a;
  --white: #fff;
  --danger: #e52c10;
  --warning: #f8ca00;
  --success: #74d17f;
  --border-radius: 5px;
  --no-border-radius: 0;
  --disabled: #797979;

  --primary: #d4f2ff;
  --primary-lightest: #81caff;
  --primary-lighter: #1ba7f3;
  --primary-darker: #255397; /* Better this color */
  --primary-darkest: #0784b5;
  --permanent-white: #fff;
}

[dark-theme='true'] {
  --dark: #fff;
  --white: var(--primary-darkest);

  --primary: #222a42;
  --primary-lightest: #0c8ae4;
  --primary-lighter: #0c8ae4;
  --primary-darker: #0784b5;
  --primary-darkest: #1e1e2f;
  --disabled: #a0a0a0;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  color: var(--dark);
  background-color: var(--white);
}

#app {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

.address {
  font-family: 'Oswald', sans-serif;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.column.is-12 {
  width: 100%;
}

table {
  border-spacing: 0;
  width: 100%;
}

th {
  border-bottom: 1px solid var(--dark);
}

.flex {
  display: flex;
}

.flex-gap {
  gap: 1rem 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-6 {
  flex-grow: 6;
  flex-basis: 40%;
  padding: 1rem;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.fullwidth {
  width: 100%;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pa-4 {
  padding: 1.5rem;
}

.ma-1 {
  margin: 0.5rem;
}

.ma-2 {
  margin: 1rem;
}

.pa-1 {
  padding: 0.5rem;
}

.pa-2 {
  padding: 1rem;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: scroll;
}

.fixed-height {
  max-height: calc(100vh - 68px - 2rem);
}
