@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400&display=swap');

:root {
  --dark: #18191a;
  --white: #fff;
  --primary: #0d3654;
  --primary-lighter: #0560a1;
  --border-radius: 10px;

  --bg-color: var(--white);
  --font-color: var(--dark);
}

[dark-theme='true'] {
  --bg-color: var(--dark);
  --font-color: var(--white);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

#app {
  display: flex;
}
