name: Deploy
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: NPM Install
        run: |
          npm ci
      - name: Build
        run: |
          npm run build
      - name: Set up Python ${{ matrix.python-version }} for AWS CLI
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install AWS CLI
        run: |
          pip install awscli --quiet
      - name: Deploy to S3
        run: |
          aws s3 sync build/ s3://${{ secrets.AWS_PRODUCTION_BUCKET_NAME }}/ --acl public-read --quiet
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      # This can be added in the future
      # - name: Invalidate CloudFront
      #   run: |
      #     aws cloudfront create-invalidation --distribution-id=$CLOUDFRONT_ID --paths /
